<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/responsimple.min.css" type="text/css" />
    <link rel="stylesheet" href="./assets/css/estilos.css" type="text/css" />
    <title>Agregar Películas</title>
</head>

<body>
    <section class="container">
        <div class="item logo"></div>
        <div class="item">
            <h4><a href="/">Regresar</a></h4>
            <br>
            <h1>Agrega una nueva Película</h1>
        </div>
        <div class="item">
            <!-- <form id="saveMovie" method="POST" action="/" class="form"> -->
            <form>
                <Fieldset>
                    <div class="container p1">
                        <label for="movie_id" class="item i-b v-top ph3 right">IMDB id:</label>
                        <input id="movie_id" type="text" name="movie_id" required class="item i-b v-top ph9">
                    </div>
                    <div class="container p1">
                        <label for="title" class="item i-b v-top ph3 right">Título:</label>
                        <input id="title_movie" type="text" name="title" required="" class="item i-b v-top ph9">
                    </div>
                    <div class="container p1">
                        <label for="release_year" class="item i-b v-top ph3 right">Año:</label>
                        <input id="release_year" type="text" name="release_year" required="" class="item i-b v-top ph9">
                    </div>
                    <div class="container p1">
                        <label for="rating" class="item i-b v-top ph3 right">Calificación: </label>
                        <input id="rating_movie" type="text" name="rating" required="" class="item i-b v-top ph9">
                    </div>
                    <div class="container p1">
                        <label for="image" class="item i-b v-top ph3 right">Poster: </label>
                        <input id="poster_movie" type="text" name="image" required="" class="item i-b v-top ph9">
                    </div>
                    <div class="container p1">
                        <input id="btn-add" type="submit" value="Agregar" class="item ph4 mauto button add">

                    </div>

                </Fieldset>
            </form>
        </div>
    </section>
    <script src="./add-form.js"></script>
</body>

</html>