<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/responsimple.min.css" type="text/css" />
    <link rel="stylesheet" href="./assets/css/estilos.css" type="text/css" />
    <title>Lista de Películas</title>

</head>

<body>
    <section class="container">
        <div class="item logo"></div>
        <div class="item">
            <h1><a href="/">LISTA DE PELICULAS</a></h1>
        </div>
        <article class="item">
            <table class="table">
                <tbody class="t_body">
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Año</th>
                        <th>Puntuación</th>
                        <th>Poster</th>
                        <th colspan="2">
                            <!-- <form method="GET" action="/agregar"> -->
                            <form>
                                <input type="submit" value="Agregar" class="button add">
                            </form>
                        </th>
                    </tr>
                </tbody>
            </table>

        </article>

    </section>
    <script src="./index.js"></script>
</body>

</html>